@inherits LayoutComponentBase

<PageTitle>Автоматизация работы деканата</PageTitle>

<div class="page">
    <div class="container-fluid bg-dark">
        <TopNavBar />
    </div>
    <div class="container-fluid flex-grow-1">
        @Body
    </div>
</div>

<RadzenComponents/>
<RadzenDialog />
<RadzenTooltip />