@inherits LayoutComponentBase

<PageTitle>Автоматизация работы деканата</PageTitle>

<div class="page">
    <div class="container-fluid bg-dark">
        <TopNavBar />
    </div>
    <div class="container-fluid flex-grow-1">
        @Body
    </div>
    <footer class="fixed-bottom text-center d-flex align-items-center justify-content-center footer">
        <p class="mb-0 py-0">CRUD-приложение для деканата, написанное на Blazor Server <strong>Ярославом Боковым</strong></p>
    </footer>
</div>

<RadzenComponents/>
<RadzenDialog />
<RadzenNotification />