<div class="container">
    <header class="d-flex justify-content-center justify-content-md-between flex-wrap py-3 mb-4 border-white border-bottom border-5">
        <NavLink href="/" class="text-light text-decoration-none fs-4 fw-bold">Система управления деканатом</NavLink>

        <ul class="nav">
            <li>
                <NavLink href="/" class="link-light nav-link">Домашняя страница</NavLink>
            </li>
            <li>
                <NavLink href="/students" class="link-light nav-link">Список студентов</NavLink>
            </li> 
            <li>
                <NavLink href="/teachers" class="link-light nav-link">Преподаватели</NavLink>
            </li>  
            <li>
                <NavLink href="/marks" class="link-light nav-link">Оценки</NavLink>
            </li>  
            <li>
                <NavLink href="/subjects" class="link-light nav-link">Предметы</NavLink>
            </li>              
            <li>
                <NavLink href="/groups" class="link-light nav-link">Группы</NavLink>
            </li>  
            <li>
                <NavLink href="/reports" class="link-light nav-link">Отчетность</NavLink>
            </li>
        </ul>
    </header>
</div>

@code {

}