@page "/"

<PageTitle>О сайте</PageTitle>

<div class="container my-5">
    <h3>О проекте</h3>
    <p>Простенький сайт, курсовая работа по дисциплине "Базы данных", написанный на Blazor Web Server с .NET 7 Ярославом Боковым!</p>
</div>