@page "/"

<PageTitle>О сайте</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Добро пожаловать, @context.User.Identity.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Привет, гость!</h1>
    </NotAuthorized>
</AuthorizeView>